
nav li {
	display: inline;
	margin: 0%, 25px, 0, 25px;
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 5%;
}

nav {
	width: 940px;
	top: 5px;
	right: 15px;
	background-color: bisque;
}

nav a {
	font-weight: lighter;
	font-size: 35px;
	text-decoration: none;
	color: black;
}


		nav a:hover {
           color:blueviolet;
		   text-decoration: underline;
		}
	
]

body {
	background: #D3D3D3;
	margin: 0;
	padding: 0;
}

#jaguar  {
	width: 100%;
}

#banner  {
	width: 100%;
}


h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

.textos {
	background: white;
}

p {
	text-align: center;
}


